{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $ci:= env "CI" | not | not -}}

{{- $name := "Andy Rice" -}}
{{- $email := "andydrice@gmail.com" -}}
{{- $github_user := "addr" -}}
{{- $computer_name := default "andyrice-computer-name" (env "CM_computer_name") -}}
{{- $hostname := default "andyrice" (env "CM_hostname") -}}

{{- if and (not $codespaces) (not $ci) }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
