[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	ignorecase = false
	editor = code --wait
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[diff]
	tool = vscode
	colorMoved = default

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode
	conflictstyle = zdiff3

[mergetool "vscode"]
	cmd = code --wait $MERGED

[pull]
	ff = only

[fetch]
	prune = true

[commit]
	template = ~/.gitmessage

[include]
	path = ~/.gitconfig.local
