# https://git-scm.com/docs/git-config
[apply]
	whitespace = nowarn

[color]
	ui = true

[color "branch"]
  	current = white bold
	local   = yellow
	remote  = cyan

[color "diff"]
  	frag = cyan bold
	meta = white
	new = green bold
	old = red bold
	commit = yellow bold
	whitespace = red reverse

[color "diff-highlight"]
  	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "status"]
	untracked = cyan

[commit]
	template = ~/.gitmessage

[core]
  	autocrlf     = input
	excludesfile = ~/.gitignore_global
	ignorecase   = false
	safecrlf     = warn
	abbrev       = 7
	editor       = code --wait

[diff]
	tool = vscode
	submodule = log

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode
	strategy = recursive

[mergetool "vscode"]
	cmd = code --wait $MERGED

[pager]
	diff = diff-so-fancy | less --tabs=4 -RFXS
	log = less -+X

[pull]
	ff = only
[fetch]
	prune = true

[include]
	path = ~/.gitconfig.local

[user]
	name = {{ .name }}
	email = {{ .email }}


