{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install common macOS packages

echo "Install common macOS packages"

set -eufo pipefail

{{ $taps := list
  "homebrew/cask"
  "homebrew/cask-fonts"
  "homebrew/bundle"
  "homebrew/services"
  "homebrew/cask-versions"
  "koekeishiya/formulae"
  "railwaycat/emacsmacport"
  "epk/epk"
-}}

{{ $brews := list
  "coreutils"
  "findutils"
  "bash"
  "fd"
  "gh"
  "ripgrep"
  "git"
  "gnupg"
  "zsh"
  "direnv"
  "cmake"
  "asdf"
  "httpie"
  "vim"
  "neovim"
  "ssh-copy-id"
  "emacs-mac" 
  "koekeishiya/formulae/yabai"
  "koekeishiya/formulae/skhd"
  "fontconfig" 
  "zero-sh/tap/apply-user-defaults"
-}}

{{ $casks := list
  "font-sf-mono-nerd-font"
  "docker"
  "visual-studio-code"
  "muzzle"
  "contexts"
  "karabiner-elements"
  "1password"
  "1password-cli"
  "google-chrome"
  "lunar"
  "hiddenbar"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

echo "Start services..."

brew services start skhd
brew services start yabai

{{ end -}}
