{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install Mac Apps via Homebrew Cask (Extra: Need additional actions)

echo "Install Mac Apps (Extra: Need additional actions)"

set -eufo pipefail

# Install Doom Emacs
if [ ! -d "${HOME}/.emacs.d" ]; then
    git clone https://github.com/hlissner/doom-emacs $HOME/.emacs.d
fi

$HOME/.emacs.d/bin/doom install
{{ end -}}